body {
  background-color: #fff;
  color: $primary-color;
  font-family: 'Open Sans', sans-serif;
  font-weight: $regular-weight;
  font-size: 16px;
  line-height: 24px;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  text-align: center;
  border-bottom: 1px solid rgba($primary-color, 0.1);
  background-color: rgba($base-color, 0.9);

  .container {
    padding-top: 11px;
    position: relative;
  }
}

.header-icon {
  display: block;
  position: absolute;
  top: 8px;
  font-size: 28px;
  line-height: 48px;
  width: 48px;
  text-align: center;
  color: $secondary-color;
  border-radius: 50%;
  transition: color $transition-time, background-color $transition-time;

  @include hover {
    color: $primary-color;
    background-color: mix($background-color, $secondary-color, 90%);
  }

  &:active {
    animation: click-animation 2s;
  }
}

.header-icon-left {
  left: $padding * 0.5;
}

.header-icon-right {
  right: $padding * 0.5;
}

h1 {
  font-size: 21px;
  line-height: 22px;
  font-weight: $medium-weight;
}

.header-subtitle {
  display: block;
  font-size: 11px;
  line-height: 22px;
  color: $secondary-color;
}

.container {
  max-width: 480px;
  margin: auto;
}

main.container {
  margin-bottom: 216px;
}

header + .container {
  margin-top: 64px;
  padding: $padding 0;
}

h2 {
  font-weight: $medium-weight;
  line-height: 32px;
  font-size: 21px;
  padding: 0 $padding;
}

.placeholder {
  animation: placeholder-blinker 2s linear infinite;
  opacity: 0;

  &:before, &:after {
    content: '';
    background-color: $placeholder-color;
    border-radius: 4px;
  }
}

form {
  display: block;
  margin-bottom: $margin;
  padding: 0 $padding;
}

input {
  display: block;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 40px;
  border: 1px solid rgba($primary-color, 0.16);
  padding: 0 8px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 40px;
  margin: $padding * 0.5 0;
  -webkit-appearance: none;
  outline: none;
  transition: border $transition-time;

  &:focus {
    border: 1px solid $accent-color;
  }
}

.ellipsis {
  text-overflow: ellipsis;

  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 $padding;
  background-color: rgba($background-color, 0.9);
  border-top: 1px solid rgba($primary-color, 0.1);
}
